@import "tailwindcss";
@plugin "daisyui" {
    themes: nord --default, dim --prefersdark
}

@custom-variant dark (&:where([data-theme=dim], [data-theme=dim] *));
@custom-variant light (&:where([data-theme=nord], [data-theme=nord] *));