@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'tailwindcss';
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: DaisyUI theme list */
  themes:
    nord --default,
    dim --prefersdark;
}

@custom-variant dark (&:where([data-theme=dim], [data-theme=dim] *));
@custom-variant light (&:where([data-theme=nord], [data-theme=nord] *));
